<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428765247033-7onmlfg8lhhq6t9palpub4cfiursebh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428765247033-7onmlfg8lhhq6t9palpub4cfiursebh6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>428765247033-6nhj0i33u810t3e4jfl71n68obv0n72v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRbCDkXgwfhh9gyKucJXOI9vDltfgO0hU</string>
	<key>GCM_SENDER_ID</key>
	<string>428765247033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.variablr.slicemaster</string>
	<key>PROJECT_ID</key>
	<string>fruits-slice-master</string>
	<key>STORAGE_BUCKET</key>
	<string>fruits-slice-master.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428765247033:ios:f0093cb8666efb400cffe8</string>
</dict>
</plist>